dotfiles/.config/tmux/plugins/

# by default ignore everything inside config
dotfiles/.config/*

# whitelist the files required
!dotfiles/.config/tmux/*
!dotfiles/.config/tmux
!dotfiles/.config/nvim2/*
!dotfiles/.config/nvim2
!dotfiles/.config/k9s/*
!dotfiles/.config/k9s

!dotfiles/.config/alacritty.toml
!dotfiles/.config/.p10k.zsh